# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Дані
urls.txt
*.log

# Git
.git/
.gitignore

# Env
.env
.env.local
.env.*.local

# Docker
Dockerfile
.dockerignore
docker-compose.yml